<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets" id="http://yourdomain/lesson6Files" version="1.0.0" viewmodes="maximized">
    <tizen:application id="O4YB9TB7lF.lesson6Files" package="O4YB9TB7lF" required_version="2.4"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png"/>
    <name>lesson6Files</name>
    <tizen:privilege name="http://tizen.org/privilege/filesystem.read"/>
    <tizen:privilege name="http://tizen.org/privilege/filesystem.write"/>
    <tizen:profile name="mobile"/>
    <tizen:setting context-menu="disable"/>
</widget>
